# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  deploy:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: google/cloud-sdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "2c:9f:ce:34:dd:df:74:fc:ec:24:c1:09:41:f7:db:0a"
      - run:
          name: Deploy Bot to AWS
          command: |
            ssh -o "StrictHostKeyChecking no" -t ubuntu@ec2-35-180-156-137.eu-west-3.compute.amazonaws.com "sudo rm -rf ovisbot && git clone https://github.com/apogiatzis/KyriosZolo ovisbot"
            env > .env && scp -o "StrictHostKeyChecking no" .env ubuntu@ec2-35-180-156-137.eu-west-3.compute.amazonaws.com:./ovisbot/.env
            ssh -o "StrictHostKeyChecking no" -t ubuntu@ec2-35-180-156-137.eu-west-3.compute.amazonaws.com "cd ovisbot && docker-compose up --build -d"
            
workflows:
  version: 2
  build-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master